<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>speakEZ</title>
  <script defer src="http://localhost:8008/socket.io/socket.io.js"></script>
  <script defer src="/public/client.js"></script>
</head>

<header>
  <h1>Hi</h1>
  <a href="/auth/logout" class="button">Logout</a>
</header>
<body>
  <div id="room-container">
    <% Object.keys(rooms).forEach(room =>{ %>
    <div>
      <%= room %><a href="/<%= room %>">Join the Room</a><% }) %>
    </div>
  </div>
    <form action="/room" method="POST">
      <input name="room" type="text" required>
      <button type="submit">New Room</button>
    </form>
</body>
</html>
