<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" type="text/css" href="views/home.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
    <title>speakEZ</title>
  </head>
  <body>
   <main>
     <div id="LeftSide">
       <h1>Welcome Back!</h1>
       <h3>To continue, sign in with Google</h3>
     </div>
     <div id ="RightSide">
       <h2>Sign in to SpeakEZ</h2>
       <a href="/auth/login" class="button">SIGN IN</a>
       <!-- <a href="/">Homepage</a> -->
       <!-- <a href="/auth/logout">Logout</a> -->
     </div>
   </main>
 </body>
</html>
